<#@ output extension=".cs" encoding="utf-8" #>
<#@ template language="C#" #>
using Microsoft.VisualStudio.TestTools.UnitTesting;
using PlutoScarab;
using System.Linq;

namespace tests
{
<#
Poly("I");
Poly("L");
Poly("B");
#>
}
<#+
void Poly(string suffix)
{
    var name = "Poly" + suffix;
#>
    [TestClass]
    public class <#= name #>Tests
    {
        [TestMethod]
        public void Multiply()
        {
            var a = new <#= name #>(3, 1);
            var b = new <#= name #>(-1, 1);
            var c = new <#= name #>(4, 1);
            var d = new <#= name #>(-5, 1);
            var p = a * b * c * d;
            Assert.AreEqual("60 − 37𝑛 − 25𝑛² + 𝑛³ + 𝑛⁴", p.ToString());
        }

        [TestMethod]
        public void Subtract()
        {
            var a = new <#= name #>(3, 1);
            var b = new <#= name #>(-1, 1);
            var c = new <#= name #>(4, 1);
            var d = new <#= name #>(-5, 1);
            var p = a * b - c * d;
            Assert.AreEqual("17 + 3𝑛", p.ToString());
        }

        [TestMethod]
        public void Evaluate()
        {
            var p = new <#= name #>(60, -37, -25, 1, 1);
            var x = p.At(-7);
            Assert.AreEqual(60 - 7 * (-37 - 7 * (-25 - 7 * (1 - 7))), x);
        }

        [TestMethod]
        public void Pow()
        {
            var p = new <#= name #>(-3, 1) ^ 7;
            Assert.AreEqual(new <#= name #>(-2187, 5103, -5103, 2835, -945, 189, -21, 1), p);
        }

        [TestMethod]
        public void Derivative()
        {
            var p = new <#= name #>(5, -4, 3, -2, 1);
            var d = p.Derivative();
            Assert.AreEqual(new <#= name #>(-4, 6, -6, 4), d);
        }

        [TestMethod]
        public void ContentAllPositive()
        {
            var p = new <#= name #>(3, 9, 6);
            var n = p.Content();
            Assert.AreEqual(3, n);
        }

        [TestMethod]
        public void ContentMixed()
        {
            var p = new <#= name #>(3, -9, 6);
            var n = p.Content();
            Assert.AreEqual(3, n);
        }

        [TestMethod]
        public void ContentAllNegative()
        {
            var p = new <#= name #>(-3, -6, -6);
            var n = p.Content();
            Assert.AreEqual(-3, n);
        }

        [TestMethod]
        public void ContentWithZeros()
        {
            var p = new <#= name #>(2, 0, 4, 0, 2);
            var n = p.Content();
            Assert.AreEqual(2, n);
        }

        [TestMethod]
        public void PrimitivePart()
        {
            var p = new <#= name #>(3, 0, -6, 6).PrimitivePart();
            Assert.AreEqual(new <#= name #>(1, 0, -2, 2), p);
        }

        [TestMethod]
        public void FactorsNoContent()
        {
            var p = new <#= name #>(2, 3).Factors().ToList();
            Assert.AreEqual(1, p.Count);
            Assert.AreEqual(new <#= name #>(2, 3), p[0]);
        }
        
        [TestMethod]
        public void FactorWithContent()
        {
            var p = new <#= name #>(2, 4).Factors().ToList();
            Assert.AreEqual(2, p.Count);
            Assert.AreEqual(new <#= name #>(2), p[0]);
            Assert.AreEqual(new <#= name #>(1, 2), p[1]);
        }
        
        [TestMethod]
        public void FactorWithMonomial()
        {
            var p = new <#= name #>(0, 2, 4).Factors().ToList();
            Assert.AreEqual(2, p.Count);
            Assert.AreEqual(new <#= name #>(0, 2), p[0]);
            Assert.AreEqual(new <#= name #>(1, 2), p[1]);
        }

        [TestMethod]
        public void DivNoRem()
        {
            var x = new <#= name #>(2, 1);
            var y = new <#= name #>(1, -5, 3);
            var p = x * y;  // (2 + n)(1 - 5n + 3n^2) = 2 - 9n + n^2 + 3n^3
            var d = p.DivRem(x, out var r);
            Assert.AreEqual(y, d);
            Assert.AreEqual(<#= name #>.Zero, r);
            d = p.DivRem(y, out r);
            Assert.AreEqual(x, d);
            Assert.AreEqual(<#= name #>.Zero, r);
        }

        [TestMethod]
        public void DivRem()
        {
            var x = new <#= name #>(2, 1);
            var y = new <#= name #>(1, -5, 3);
            var z = new <#= name #>(7);
            var p = x * y + z;  // (2 + n)(1 - 5n + 3n^2) + 7 = 9 - 9n + n^2 + 3n^3
            var d = p.DivRem(x, out var r);
            Assert.AreEqual(y, d);
            Assert.AreEqual(z, r);
            d = p.DivRem(y, out r);
            Assert.AreEqual(x, d);
            Assert.AreEqual(z, r);
        }
    }

<#+
}
#>